table {
	text-align: center;
	margin: 0px auto;
	margin-top: 15px;
}

.casillas{
	width: 15px;
}

#RES{
	width: 20%;
	float: left;
}

#complementRESULTADO {
	width: 80%;
	float: left;
}

.enumeracion{
	list-style-type: none;
	margin-left: 3%;
	margin-top: 10px;
}

#parrafo{
		padding-right: 20%;
}

section h2 {
	text-align: center;
	font-family: monospace;
}

.pregunta{
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 30px;
}

aside p {
	display: inline;
}
#setenta{
	display: inline;
}

.siemprenlv{
	position: fixed;
}

